# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*~

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Flask
instance/
.webassets-cache

# Docker
Dockerfile
docker-compose.yml
*.dockerignore

# Miscellaneous
.DS_Store
*.swp
*.swo
*.db